@page
@{
    ViewData["Title"] = "Logout";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center" style="margin-top: 150px;">
    <h2 class="display-4">Thank you - You have successfully logged out!</h2>
</div>
<div style="display: flex; align-items: center; margin-right: 10%; justify-content: center;">
    <div style="display: flex; margin-left: 5%;">
        <a asp-area="" asp-page="/Index" class="btn btn-light">Back to Login Page</a>
    </div>
</div>