@page
@{
    ViewData["Title"] = "Reset Password";
}
@* <h1>@ViewData["Title"]</h1>
 *@
<div class="text-left" style="margin-top: 150px;">
    <h2 class="display-4">Password Reset:</h2>
</div>
<section>
    <form method="post" action="">
        <label for="yourEmail">Please enter your varification code from the email we sent you:</label>
        <input style="margin-left:1%" type="text" id="staffUsername" name="staffUsername">
        <br>
        <a asp-area="" asp-page="/Index" class="btn btn-secondary">Submit</a>
    </form>
</section>