@page
@{
    ViewData["Title"] = "My Account";
}
<div style="display: flex; align-items: center; margin-right: 10%; justify-content: left;">
    <h1>@ViewData["Title"]</h1>
    <div style="display: flex; margin-left: 5%;">
        <a asp-area="" asp-page="/Patient-pages/patient-login" class="btn btn-light"> Home</a>
    </div>
    <div style="display: flex; margin-left: 2%;">
        <a asp-area="" asp-page="/Patient-pages/my-appointments" class="btn btn-light">My Appointments</a>
    </div>
    <div style="display: flex; margin-left: 2%;">
        <a asp-area="" asp-page="/Logout-page" class="btn btn-light">Logout</a>
    </div>
</div>

<h7><u>Please select from following Settings</u></h7>
<br>
<br>
<div>
	<a asp-area="" asp-page="/Patient-pages/patient-login" class="btn btn-lg">Personal Details</a>
</div>
<br>
<div>
    <a asp-area="" asp-page="/Patient-pages/patient-login" class="btn btn-lg">Sign-in Details</a>
</div>
<br>
<div>
    <a asp-area="" asp-page="/Patient-pages/patient-login" class="btn btn-lg">Address & Phonebook</a>
</div>
